.wrap-pagination {
    margin-bottom: 30px;
}

.wrap-slider-product .wrap-item {
    padding: 0 15px;
}

.wrap-pagination .pagination-custom {
    float: right;
    margin: 0;
}

.wrap-slider-product .row .slick-prev {
    left: 4%;
    z-index: 1;
}

.wrap-slider-product .row .slick-next {
    right: 4%;
    z-index: 1;
}