 /* ==========================================================================
   Responsive CSS Landscape Tablet
   ========================================================================== */
   @media only screen and (min-width: 960px) and (max-width: 1240px) {
        
}


/* ==========================================================================
   Responsive CSS Portrait Tablet
   ========================================================================== */
@media only screen and (min-width: 768px) and (max-width: 959px) {
   
}


/* ==========================================================================
   Responsive CSS Landscape Mobile
   ========================================================================== */
 @media only screen and (min-width: 480px) and (max-width: 767px) {
   .wrap-slider-product 
 }


/* ==========================================================================
   Responsive CSS Portrait Mobile
   ========================================================================== */
@media only screen and (min-width: 100px) and (max-width: 479px) {
   
}