/* CSS Document */

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}


#wrapper.toggled{
padding-left: 350px;
}

#sidebar-wrapper {
  z-index: 1;
  left: 350px;
  width: 0;
  height: 100%;
  margin-left: -350px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #f7f7f7;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#sidebar-wrapper::-webkit-scrollbar {
display: none;
}

#wrapper.toggled #sidebar-wrapper {
  width: 350px;
}

#page-content-wrapper {
  width: 100%;
}

#wrapper.toggled #page-content-wrapper {
  margin-right: -350px;
}


.sidebar-nav {
  position: absolute;
  top: 0;
  width: 350px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  position: relative; 
  line-height: 20px;
  display: inline-block;
  width: 100%;
}
.sidebar-nav li:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 3px;
  background-color: #1c1c1c;
  -webkit-transition: width .2s ease-in;
    -moz-transition:  width .2s ease-in;
     -ms-transition:  width .2s ease-in;
          transition: width .2s ease-in;

}


/* HaiLL */
.row {
margin-left: 0;
margin-right: 0;
}

.navbar-fixed-bottom, .navbar-fixed-top {
  position: absolute;
}

#wrapper {
  position: relative;
}

.menu-left {
  display: block;
position: absolute;
top: 0;
}

.sidebar-nav li {
  background-color: #D6D6D6;
}

.sidebar-nav li a {
  color:#363636;
}
.menu-left {
  z-index: 1;
}